<template>
  <div><v-toolbar><v-btn icon v-on:click="$router.go(-1)"><v-icon>mdi-arrow-left-bold</v-icon></v-btn></v-toolbar>
    <v-row sm="2">
      <v-col>
    <v-img
      height="300"
      src="/profile.png"
    ></v-img>
      </v-col>
      <v-col><h2>{{ hero1.IconID }}</h2></v-col><v-col></v-col>
      <v-col></v-col>
    </v-row>
  <v-simple-table>
      <thead>
      <tr>
        <th class="text-left">
          Name
        </th>
        <th class="text-left">
          Value
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>IconID</td>
        <td>{{ hero1.IconID }}</td>
      </tr>
      <tr>
        <td>CardType</td>
        <td>{{ hero1.CardType }}</td>
      </tr>
      <tr>
        <td>classID</td>
        <td>{{ hero1.classID }}</td>
      </tr>
      <tr>
        <td>RaceID</td>
        <td>{{ hero1.RaceID }}</td>
      </tr>
      <tr>
        <td>CommonAbilities</td>
        <td>{{ hero1.CommonAbilities }}</td>
      </tr>
      <tr>
        <td>HP</td>
        <td>{{ hero1.HP }}</td>
      </tr>
      <tr>
        <td>ATK</td>
        <td>{{ hero1.ATK }}</td>
      </tr>
      <tr>
        <td>DEF</td>
        <td>{{ hero1.DEF }}</td>
      </tr>
      <tr>
        <td>WIS</td>
        <td>{{ hero1.WIS }}</td>
      </tr>
      <tr>
        <td>AGI</td>
        <td>{{ hero1.AGI }}</td>
      </tr>
      <tr>
        <td>Power</td>
        <td>{{ hero1.Power }}</td>
      </tr>
      </tbody>
  </v-simple-table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      hero: ''
    }
  },
  async asyncData({$content, params }){
    const hero1 = await $content('heroes', params.slug).fetch()
    console.log(hero1)
    return {hero1}
  }
}</script>
