<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <div class="text-center">
      <h1>Heroes</h1>
        <v-list three-line>
          <template v-for="(item, index) in heroes">

            <v-list-item
              :key="item.id"
            >
              <v-list-item-avatar>
                <v-img src='/profile.png'></v-img>
              </v-list-item-avatar>

              <v-list-item-content>
                <NuxtLink :to="`${item.id}`">{{ item.IconID }}</NuxtLink>


              </v-list-item-content>
            </v-list-item>
            <v-divider></v-divider>
          </template>
        </v-list>

      </div>

    </v-col>
  </v-row>
</template>

<script>


export default {
  data() {
    return {
      heroes: []
    }
  },
  async fetch(){
    this.heroes = await this.$content('heroes').only(['id','IconID']).fetch()
  }
}
</script>
